@import url(../Lobby/Lobby.scss);

.menu-bar-content {
    width: 100%;
   
    
    .list-itens{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 2px;
        height: 30%;
        max-height: 700px;
    }
     .list-itens .item1 {
       width: 100px;
       display: flex;
       justify-content: center;
       height: 30px;
       padding: 12px;
       text-align: center;
       align-items: center;
       font-size: 20px;
       border-radius: 50px;
        color: #fff;
        
        background-color: var(--color-font-primary);
    //     &:hover{
    //         transition: scale(1.2);
    //     }
    //
 }
}