@keyframes move {
  100% {
      transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: #000000;
  overflow: hidden;
}

.background span {
  width: 20vmin;
  height: 20vmin;
  border-radius: 20vmin;
  backface-visibility: hidden;
  position: absolute;
  animation: move;
  animation-duration: 45;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}


.background span:nth-child(0) {
  color: #937710;
  top: 96%;
  left: 42%;
  animation-duration: 6s;
  animation-delay: -12s;
  transform-origin: -16vw -11vh;
  box-shadow: 40vmin 0 5.89694124987889vmin currentColor;
}
.background span:nth-child(1) {
  color: #00134d;
  top: 35%;
  left: 74%;
  animation-duration: 18s;
  animation-delay: -25s;
  transform-origin: -12vw -14vh;
  box-shadow: 40vmin 0 5.119538117567642vmin currentColor;
}
.background span:nth-child(2) {
  color: #937710;
  top: 28%;
  left: 24%;
  animation-duration: 41s;
  animation-delay: -19s;
  transform-origin: 9vw 3vh;
  box-shadow: -40vmin 0 5.727741910267514vmin currentColor;
}
.background span:nth-child(3) {
  color: #0fb6c2;
  top: 49%;
  left: 42%;
  animation-duration: 15s;
  animation-delay: -2s;
  transform-origin: -11vw -2vh;
  box-shadow: -40vmin 0 5.018765234612314vmin currentColor;
}
.background span:nth-child(4) {
  color: #0fb6c2;
  top: 85%;
  left: 34%;
  animation-duration: 13s;
  animation-delay: -7s;
  transform-origin: -15vw 8vh;
  box-shadow: -40vmin 0 5.825718086981929vmin currentColor;
}
.background span:nth-child(5) {
  color: #0fb6c2;
  top: 83%;
  left: 93%;
  animation-duration: 55s;
  animation-delay: -24s;
  transform-origin: 13vw 14vh;
  box-shadow: 40vmin 0 5.8309238942008825vmin currentColor;
}
.background span:nth-child(6) {
  color: #00134d;
  top: 51%;
  left: 32%;
  animation-duration: 45s;
  animation-delay: -6s;
  transform-origin: -11vw 12vh;
  box-shadow: -40vmin 0 5.457124535392532vmin currentColor;
}
.background span:nth-child(7) {
  color: #0fb6c2;
  top: 5%;
  left: 27%;
  animation-duration: 13s;
  animation-delay: -4s;
  transform-origin: 9vw 14vh;
  box-shadow: 40vmin 0 5.40260267288784vmin currentColor;
}
.background span:nth-child(8) {
  color: #937710;
  top: 52%;
  left: 63%;
  animation-duration: 34s;
  animation-delay: -18s;
  transform-origin: -5vw -12vh;
  box-shadow: 40vmin 0 5.512013871149566vmin currentColor;
}
.background span:nth-child(9) {
  color: #937710;
  top: 27%;
  left: 40%;
  animation-duration: 22s;
  animation-delay: -13s;
  transform-origin: -15vw -6vh;
  box-shadow: -40vmin 0 5.502498499684421vmin currentColor;
}
.background span:nth-child(10) {
  color: #00134d;
  top: 49%;
  left: 38%;
  animation-duration: 25s;
  animation-delay: -49s;
  transform-origin: -10vw -18vh;
  box-shadow: 40vmin 0 5.14698413670841vmin currentColor;
}
.background span:nth-child(11) {
  color: #00134d;
  top: 79%;
  left: 90%;
  animation-duration: 53s;
  animation-delay: -8s;
  transform-origin: 0vw 25vh;
  box-shadow: -40vmin 0 5.7521547380746405vmin currentColor;
}
.background span:nth-child(12) {
  color: #00134d;
  top: 49%;
  left: 15%;
  animation-duration: 54s;
  animation-delay: -16s;
  transform-origin: 11vw 11vh;
  box-shadow: 40vmin 0 5.698115317157917vmin currentColor;
}
.background span:nth-child(13) {
  color: #937710;
  top: 96%;
  left: 6%;
  animation-duration: 15s;
  animation-delay: -4s;
  transform-origin: -9vw 17vh;
  box-shadow: -40vmin 0 5.376454589594598vmin currentColor;
}
.background span:nth-child(14) {
  color: #937710;
  top: 76%;
  left: 20%;
  animation-duration: 36s;
  animation-delay: -44s;
  transform-origin: 12vw -9vh;
  box-shadow: 40vmin 0 5.023627181871039vmin currentColor;
}
.background span:nth-child(15) {
  color: #937710;
  top: 55%;
  left: 5%;
  animation-duration: 42s;
  animation-delay: -43s;
  transform-origin: -8vw -23vh;
  box-shadow: 40vmin 0 5.103280699754323vmin currentColor;
}
.background span:nth-child(16) {
  color: #0fb6c2;
  top: 21%;
  left: 57%;
  animation-duration: 10s;
  animation-delay: -41s;
  transform-origin: -20vw 20vh;
  box-shadow: -40vmin 0 5.402977896540568vmin currentColor;
}
.background span:nth-child(17) {
  color: #937710;
  top: 26%;
  left: 89%;
  animation-duration: 50s;
  animation-delay: -2s;
  transform-origin: 22vw 7vh;
  box-shadow: 40vmin 0 5.80438560377887vmin currentColor;
}
.background span:nth-child(18) {
  color: #0fb6c2;
  top: 66%;
  left: 1%;
  animation-duration: 38s;
  animation-delay: -50s;
  transform-origin: -13vw 2vh;
  box-shadow: -40vmin 0 5.2627569408691155vmin currentColor;
}
.background span:nth-child(19) {
  color: #937710;
  top: 43%;
  left: 20%;
  animation-duration: 7s;
  animation-delay: -15s;
  transform-origin: -1vw -8vh;
  box-shadow: 40vmin 0 5.681688131260767vmin currentColor;
}
